# Ignore Maven/Gradle specific files
target/
build/

# Ignore temporary files
*.log
*.tmp

# Ignore IDE specific files
.idea/
*.iml
*.ipr
*.iws
*.swp
.vscode/
*.class

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore application-specific files
*.jar
*.war
*.ear

# Ignore node_modules if you have a frontend in the same repository
node_modules/

# Ignore large files
openzipkin-zipkin-79fb9d2/zipkin-lens/target/node/node.exe
openzipkin-zipkin-79fb9d2/zipkin-server/target/zipkin-server-3.4.3-exec.jar

# Ignore secrets
*.env
*.key
*.pem
*.crt